<div class="row text-center">
    <div class="col-sm-12">
        <div class="about-me p-5">
            <div class="row py-4">
                <div class="col-sm-4 col-lg-3 img-wrapper" data-aos="fade-right">
                    <img src="../../assets/img/me.jpg" alt="">
                </div>
                <div class="col-sm-8 col-lg-7 text-left p-3 align-self-lg-center" data-aos="fade-in">
                    <h2>Who Am I ?</h2>
                    <p>
                        Hi, I'm Venkata Subbarao Balineni. I'm an artist and a front end web developer with 4 years of
                        experience. I
                        create successful websites that are fast, easy to use, and built with best practices.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<h1 class="sub-heading my-5">Skills</h1>
<div class="skill">
    <div class="skill-icon">
        <i class="fab fa-html5 fa-3x" [ngStyle]="{'color':'#f06529'}"></i>
    </div>
    <div class="skill-progress w-100 align-self-center ml-3">
        <div class="progress" [ngStyle]="{'height':'30px'}">
            <div class="progress-bar progress-bar-striped bg-success" [ngStyle]="{'width':'75%'}">HTML - 75%</div>
        </div>
    </div>
</div>
<div class="skill">
    <div class="skill-icon">
        <i class="fab fa-css3 fa-3x" [ngStyle]="{'color':'#2965f1'}"></i>
    </div>
    <div class="skill-progress w-100 align-self-center ml-3">
        <div class="progress" [ngStyle]="{'height':'30px'}">
            <div class="progress-bar progress-bar-striped" [ngStyle]="{'width':'80%'}">CSS - 80%</div>
        </div>
    </div>
</div>
<div class="skill">
    <div class="skill-icon">
        <i class="fab fa-js fa-3x" [ngStyle]="{'color':'#f0db4f'}"></i>
    </div>
    <div class="skill-progress w-100 align-self-center ml-3">
        <div class="progress" [ngStyle]="{'height':'30px'}">
            <div class="progress-bar progress-bar-striped bg-warning" [ngStyle]="{'width':'72%'}">JS - 72%</div>
        </div>
    </div>
</div>
<div class="skill">
    <div class="skill-icon">
        <i class="fab fa-bootstrap fa-3x" [ngStyle]="{'color':'#563d7c'}"></i>
    </div>
    <div class="skill-progress w-100 align-self-center ml-3">
        <div class="progress" [ngStyle]="{'height':'30px'}">
            <div class="progress-bar progress-bar-striped bg-info" [ngStyle]="{'width':'78%'}">Bootstrap - 78%</div>
        </div>
    </div>
</div>
<div class="skill">
    <div class="skill-icon">
        <i class="fab fa-angular fa-3x" [ngStyle]="{'color':'red'}"></i>
    </div>
    <div class="skill-progress w-100 align-self-center ml-3">
        <div class="progress" [ngStyle]="{'height':'30px'}">
            <div class="progress-bar progress-bar-striped bg-danger" [ngStyle]="{'width':'70%'}">Angular - 70%</div>
        </div>
    </div>
</div>
<h1 class="sub-heading my-5">Hobbies</h1>
<div class="row">
    <div class="col-12 col-sm-4">
        <div class="carousel slide carousel-fade" id="artCarousel" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#artCarousel" data-slide-to="0"></li>
                <li data-target="#artCarousel" data-slide-to="1"></li>
                <li data-target="#artCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active" data-interval="1500"><img src="../../assets/img/paint1.jpg"
                        class="d-block w-100" height="250px" alt=""></div>
                <div class="carousel-item" data-interval="1500"><img src="../../assets/img/paint2.jpg"
                        class="d-block w-100" height="250px" alt=""></div>
                <div class="carousel-item" data-interval="1500"><img src="../../assets/img/paint3.jpg"
                        class="d-block w-100" height="250px" alt=""></div>
            </div>
            <a class="carousel-control-prev" href="#artCarousel" data-slide="prev"><span
                    class="carousel-control-prev-icon"></span></a>
            <a class="carousel-control-next" href="#artCarousel" data-slide="next"><span
                    class="carousel-control-next-icon"></span></a>
        </div>
        <h4 class="sub-heading my-2">Painting</h4>
    </div>
    <div class="col-12 col-sm-4">
        <div class="carousel slide carousel-fade" id="cricketCarousel">
            <ol class="carousel-indicators">
                <li data-target="#cricketCarousel" data-slide-to="0"></li>
                <li data-target="#cricketCarousel" data-slide-to="1"></li>
                <li data-target="#cricketCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active" data-interval="1500">
                    <img src="../../assets/img/cricket1.jpg" alt="" height="250px" class="d-block w-100">
                </div>
                <div class="carousel-item" data-interval="1500">
                    <img src="../../assets/img/cricket2.jpg" alt="" height="250px" class="d-block w-100">
                </div>
                <div class="carousel-item" data-interval="1500">
                    <img src="../../assets/img/cricket3.jpg" alt="" height="250px" class="d-block w-100">
                </div>
            </div>
            <a href="#cricketCarousel" class="carousel-control-prev" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a href="#cricketCarousel" class="carousel-control-next" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
        <h4 class="sub-heading my-2">Playing Cricket</h4>
    </div>
    <div class="col-12 col-sm-4">
        <div class="carousel slide carousel-fade" id="musicCarousel">
            <ol class="carousel-indicators">
                <li data-target="#musicCarousel" data-slide-to="0"></li>
                <li data-target="#musicCarousel" data-slide-to="1"></li>
                <li data-target="#musicCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active" data-interval="1500">
                    <img src="../../assets/img/music1.jpg" alt="" height="250px" class="d-block w-100">
                </div>
                <div class="carousel-item" data-interval="1500">
                    <img src="../../assets/img/music2.jpg" alt="" height="250px" class="d-block w-100">
                </div>
                <div class="carousel-item" data-interval="1500">
                    <img src="../../assets/img/music3.jpg" alt="" height="250px" class="d-block w-100">
                </div>
            </div>
            <a href="#musicCarousel" class="carousel-control-prev" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a href="#musicCarousel" class="carousel-control-next" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
        <h4 class="sub-heading my-2">Listening to Music</h4>
    </div>
</div>