/* You can add global styles to this file, and also import other style files */

html{
    scroll-behavior: smooth;
}
body{
    padding:0;
    margin:0;
    background-color: #f1f1f1;
    font-size: 18px;
    color:#333;
}
.main-heading::after{
    display: block;
    content: '';
    width:auto;
    height: 4px;
    border-radius: 3px;
    background-color: rgb(209, 218, 226);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
.sub-heading{
    font-weight: normal;
width:fit-content;
padding:5px 20px;
margin:20px auto;
text-align: center;
color: rgb(255, 51, 92);
border: 3px solid rgb(255, 51, 92);;
}