<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="bg-img">
                <div class="bg-text">
                    <h3>Copy ? (or) Inspired By!!! ( You Decide )</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <p class="myPara">In this article we will see some of the best tollywood music and their actual origin.
                After watching
                these you will realize that these songs were made with some reference and not at all coincidence :) . I
                don't know whether our music directors copied these songs or they get inspired by these songs and took
                them as a reference.
                Without furthur ado ... Lets see what we have
            </p>
        </div>
    </div>
    <div class="row g-5 justify-content-around p-4" [ngStyle]="{'overflow-x':'hidden'}">
        <div class="col-sm-12 col-md-5 v-container my-3">
            <div class="iframe-container">
                <iframe loading="lazy" srcdoc="<style>
                    * {
                    padding: 0;
                    margin: 0;
                    overflow: hidden;
                    }
                    
                    body, html {
                      height: 100%;
                    }
                    
                    img, svg {
                      position: absolute;
                      width: 100%;
                      top: 0;
                      bottom: 0;
                      margin: auto;
                    }
                    
                    svg {
                      filter: drop-shadow(1px 1px 10px hsl(206.5, 70.7%, 8%));
                      transition: all 250ms ease-in-out;
                    }
                    
                    body:hover svg {
                      filter: drop-shadow(1px 1px 10px hsl(206.5, 0%, 10%));
                      transform: scale(1.2);
                    }
                  </style>
                  <a href='https://www.youtube.com/embed/onZAjfqcGOk?autoplay=1'>
                    <img src='https://img.youtube.com/vi/onZAjfqcGOk/hqdefault.jpg' alt='Coffee Recipe Javascript Project'>
                    <svg xmlns='http://www.w3.org/2000/svg' width='64' height='64' viewBox='0 0 24 24' fill='none' stroke='#ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-play-circle'><circle cx='12' cy='12' r='10'></circle><polygon points='10 8 16 12 10 16 10 8'></polygon></svg>
                  </a>
                  " width="560" height="315" src="https://www.youtube.com/embed/onZAjfqcGOk" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-sm-12 col-md-5 v-container my-3">
            <div class="iframe-container">
                <iframe loading="lazy" srcdoc="<style>
                    * {
                    padding: 0;
                    margin: 0;
                    overflow: hidden;
                    }
                    
                    body, html {
                      height: 100%;
                    }
                    
                    img, svg {
                      position: absolute;
                      width: 100%;
                      top: 0;
                      bottom: 0;
                      margin: auto;
                    }
                    
                    svg {
                      filter: drop-shadow(1px 1px 10px hsl(206.5, 70.7%, 8%));
                      transition: all 250ms ease-in-out;
                    }
                    
                    body:hover svg {
                      filter: drop-shadow(1px 1px 10px hsl(206.5, 0%, 10%));
                      transform: scale(1.2);
                    }
                  </style>
                  <a href='https://www.youtube.com/embed/weRHyjj34ZE?autoplay=1'>
                    <img src='https://img.youtube.com/vi/weRHyjj34ZE/hqdefault.jpg' alt='Coffee Recipe Javascript Project'>
                    <svg xmlns='http://www.w3.org/2000/svg' width='64' height='64' viewBox='0 0 24 24' fill='none' stroke='#ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-play-circle'><circle cx='12' cy='12' r='10'></circle><polygon points='10 8 16 12 10 16 10 8'></polygon></svg>
                  </a>
                  " width="560" height="315" src="https://www.youtube.com/embed/weRHyjj34ZE" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-sm-12 col-md-5 v-container my-3">
            <div class="iframe-container">
                <iframe loading="lazy" srcdoc="<style>
                    * {
                    padding: 0;
                    margin: 0;
                    overflow: hidden;
                    }
                    
                    body, html {
                      height: 100%;
                    }
                    
                    img, svg {
                      position: absolute;
                      width: 100%;
                      top: 0;
                      bottom: 0;
                      margin: auto;
                    }
                    
                    svg {
                      filter: drop-shadow(1px 1px 10px hsl(206.5, 70.7%, 8%));
                      transition: all 250ms ease-in-out;
                    }
                    
                    body:hover svg {
                      filter: drop-shadow(1px 1px 10px hsl(206.5, 0%, 10%));
                      transform: scale(1.2);
                    }
                  </style>
                  <a href='https://www.youtube.com/embed/Ow98GXfIyXA?autoplay=1'>
                    <img src='https://img.youtube.com/vi/Ow98GXfIyXA/hqdefault.jpg' alt='Coffee Recipe Javascript Project'>
                    <svg xmlns='http://www.w3.org/2000/svg' width='64' height='64' viewBox='0 0 24 24' fill='none' stroke='#ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-play-circle'><circle cx='12' cy='12' r='10'></circle><polygon points='10 8 16 12 10 16 10 8'></polygon></svg>
                  </a>
                  " width="560" height="315" src="https://www.youtube.com/embed/Ow98GXfIyXA" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-sm-12 col-md-5 v-container my-3">
            <div class="iframe-container">
                <iframe loading="lazy" srcdoc="<style>
                    * {
                    padding: 0;
                    margin: 0;
                    overflow: hidden;
                    }
                    
                    body, html {
                      height: 100%;
                    }
                    
                    img, svg {
                      position: absolute;
                      width: 100%;
                      top: 0;
                      bottom: 0;
                      margin: auto;
                    }
                    
                    svg {
                      filter: drop-shadow(1px 1px 10px hsl(206.5, 70.7%, 8%));
                      transition: all 250ms ease-in-out;
                    }
                    
                    body:hover svg {
                      filter: drop-shadow(1px 1px 10px hsl(206.5, 0%, 10%));
                      transform: scale(1.2);
                    }
                  </style>
                  <a href='https://www.youtube.com/embed/vCEvCXuglqo?autoplay=1'>
                    <img src='https://img.youtube.com/vi/vCEvCXuglqo/hqdefault.jpg' alt='Coffee Recipe Javascript Project'>
                    <svg xmlns='http://www.w3.org/2000/svg' width='64' height='64' viewBox='0 0 24 24' fill='none' stroke='#ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-play-circle'><circle cx='12' cy='12' r='10'></circle><polygon points='10 8 16 12 10 16 10 8'></polygon></svg>
                  </a>
                  " width="560" height="315" src="https://www.youtube.com/embed/vCEvCXuglqo" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>

        <div class="col-sm-12 col-md-5 v-container my-3">
            <div class="iframe-container">
                <iframe loading="lazy" srcdoc="<style>
                    * {
                    padding: 0;
                    margin: 0;
                    overflow: hidden;
                    }
                    
                    body, html {
                      height: 100%;
                    }
                    
                    img, svg {
                      position: absolute;
                      width: 100%;
                      top: 0;
                      bottom: 0;
                      margin: auto;
                    }
                    
                    svg {
                      filter: drop-shadow(1px 1px 10px hsl(206.5, 70.7%, 8%));
                      transition: all 250ms ease-in-out;
                    }
                    
                    body:hover svg {
                      filter: drop-shadow(1px 1px 10px hsl(206.5, 0%, 10%));
                      transform: scale(1.2);
                    }
                  </style>
                  <a href='https://www.youtube.com/embed/eWyukCvhGI0?autoplay=1'>
                    <img src='https://img.youtube.com/vi/eWyukCvhGI0/hqdefault.jpg' alt='Coffee Recipe Javascript Project'>
                    <svg xmlns='http://www.w3.org/2000/svg' width='64' height='64' viewBox='0 0 24 24' fill='none' stroke='#ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-play-circle'><circle cx='12' cy='12' r='10'></circle><polygon points='10 8 16 12 10 16 10 8'></polygon></svg>
                  </a>
                  " width="560" height="315" src="https://www.youtube.com/embed/eWyukCvhGI0" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-sm-12 col-md-5 v-container my-3">
            <div class="iframe-container">
                <iframe loading="lazy" srcdoc="<style>
                    * {
                    padding: 0;
                    margin: 0;
                    overflow: hidden;
                    }
                    
                    body, html {
                      height: 100%;
                    }
                    
                    img, svg {
                      position: absolute;
                      width: 100%;
                      top: 0;
                      bottom: 0;
                      margin: auto;
                    }
                    
                    svg {
                      filter: drop-shadow(1px 1px 10px hsl(206.5, 70.7%, 8%));
                      transition: all 250ms ease-in-out;
                    }
                    
                    body:hover svg {
                      filter: drop-shadow(1px 1px 10px hsl(206.5, 0%, 10%));
                      transform: scale(1.2);
                    }
                  </style>
                  <a href='https://www.youtube.com/embed/iEe_eraFWWs?autoplay=1'>
                    <img src='https://img.youtube.com/vi/iEe_eraFWWs/hqdefault.jpg' alt='Coffee Recipe Javascript Project'>
                    <svg xmlns='http://www.w3.org/2000/svg' width='64' height='64' viewBox='0 0 24 24' fill='none' stroke='#ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-play-circle'><circle cx='12' cy='12' r='10'></circle><polygon points='10 8 16 12 10 16 10 8'></polygon></svg>
                  </a>
                  " width="560" height="315" src="https://www.youtube.com/embed/iEe_eraFWWs" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>

        <div class="col-sm-12 col-md-5 v-container my-3">
            <div class="iframe-container">
                <iframe loading="lazy" srcdoc="<style>
                    * {
                    padding: 0;
                    margin: 0;
                    overflow: hidden;
                    }
                    
                    body, html {
                      height: 100%;
                    }
                    
                    img, svg {
                      position: absolute;
                      width: 100%;
                      top: 0;
                      bottom: 0;
                      margin: auto;
                    }
                    
                    svg {
                      filter: drop-shadow(1px 1px 10px hsl(206.5, 70.7%, 8%));
                      transition: all 250ms ease-in-out;
                    }
                    
                    body:hover svg {
                      filter: drop-shadow(1px 1px 10px hsl(206.5, 0%, 10%));
                      transform: scale(1.2);
                    }
                  </style>
                  <a href='https://www.youtube.com/embed/QNdANsEPT94?autoplay=1'>
                    <img src='https://img.youtube.com/vi/QNdANsEPT94/hqdefault.jpg' alt='Coffee Recipe Javascript Project'>
                    <svg xmlns='http://www.w3.org/2000/svg' width='64' height='64' viewBox='0 0 24 24' fill='none' stroke='#ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-play-circle'><circle cx='12' cy='12' r='10'></circle><polygon points='10 8 16 12 10 16 10 8'></polygon></svg>
                  </a>
                  " width="560" height="315" src="https://www.youtube.com/embed/QNdANsEPT94" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-sm-12 col-md-5 v-container my-3">
            <div class="iframe-container">
                <iframe loading="lazy" srcdoc="<style>
                    * {
                    padding: 0;
                    margin: 0;
                    overflow: hidden;
                    }
                    
                    body, html {
                      height: 100%;
                    }
                    
                    img, svg {
                      position: absolute;
                      width: 100%;
                      top: 0;
                      bottom: 0;
                      margin: auto;
                    }
                    
                    svg {
                      filter: drop-shadow(1px 1px 10px hsl(206.5, 70.7%, 8%));
                      transition: all 250ms ease-in-out;
                    }
                    
                    body:hover svg {
                      filter: drop-shadow(1px 1px 10px hsl(206.5, 0%, 10%));
                      transform: scale(1.2);
                    }
                  </style>
                  <a href='https://www.youtube.com/embed/lvM9Y1MJAII?autoplay=1'>
                    <img src='https://img.youtube.com/vi/lvM9Y1MJAII/hqdefault.jpg' alt='Coffee Recipe Javascript Project'>
                    <svg xmlns='http://www.w3.org/2000/svg' width='64' height='64' viewBox='0 0 24 24' fill='none' stroke='#ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-play-circle'><circle cx='12' cy='12' r='10'></circle><polygon points='10 8 16 12 10 16 10 8'></polygon></svg>
                  </a>
                  " width="560" height="315" src="https://www.youtube.com/embed/lvM9Y1MJAII" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>

        <div class="col-sm-12 col-md-5 v-container my-3">
            <div class="iframe-container">
                <iframe loading="lazy" srcdoc="<style>
                    * {
                    padding: 0;
                    margin: 0;
                    overflow: hidden;
                    }
                    
                    body, html {
                      height: 100%;
                    }
                    
                    img, svg {
                      position: absolute;
                      width: 100%;
                      top: 0;
                      bottom: 0;
                      margin: auto;
                    }
                    
                    svg {
                      filter: drop-shadow(1px 1px 10px hsl(206.5, 70.7%, 8%));
                      transition: all 250ms ease-in-out;
                    }
                    
                    body:hover svg {
                      filter: drop-shadow(1px 1px 10px hsl(206.5, 0%, 10%));
                      transform: scale(1.2);
                    }
                  </style>
                  <a href='https://www.youtube.com/embed/EBFHXwehVWI?autoplay=1'>
                    <img src='https://img.youtube.com/vi/EBFHXwehVWI/hqdefault.jpg' alt='Coffee Recipe Javascript Project'>
                    <svg xmlns='http://www.w3.org/2000/svg' width='64' height='64' viewBox='0 0 24 24' fill='none' stroke='#ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-play-circle'><circle cx='12' cy='12' r='10'></circle><polygon points='10 8 16 12 10 16 10 8'></polygon></svg>
                  </a>
                  " width="560" height="315" src="https://www.youtube.com/embed/EBFHXwehVWI?start=18" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-sm-12 col-md-5 v-container my-3">
            <div class="iframe-container">
                <iframe loading="lazy" srcdoc="<style>
                    * {
                    padding: 0;
                    margin: 0;
                    overflow: hidden;
                    }
                    
                    body, html {
                      height: 100%;
                    }
                    
                    img, svg {
                      position: absolute;
                      width: 100%;
                      top: 0;
                      bottom: 0;
                      margin: auto;
                    }
                    
                    svg {
                      filter: drop-shadow(1px 1px 10px hsl(206.5, 70.7%, 8%));
                      transition: all 250ms ease-in-out;
                    }
                    
                    body:hover svg {
                      filter: drop-shadow(1px 1px 10px hsl(206.5, 0%, 10%));
                      transform: scale(1.2);
                    }
                  </style>
                  <a href='https://www.youtube.com/embed/0cjRAj1bk3U?start=28?autoplay=1'>
                    <img src='https://img.youtube.com/vi/0cjRAj1bk3U/hqdefault.jpg' alt='Coffee Recipe Javascript Project'>
                    <svg xmlns='http://www.w3.org/2000/svg' width='64' height='64' viewBox='0 0 24 24' fill='none' stroke='#ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-play-circle'><circle cx='12' cy='12' r='10'></circle><polygon points='10 8 16 12 10 16 10 8'></polygon></svg>
                  </a>
                  " width="560" height="315" src="https://www.youtube.com/embed/0cjRAj1bk3U?start=28" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>

        <div class="col-sm-12 col-md-5 v-container my-3">
            <div class="iframe-container">
                <iframe loading="lazy" srcdoc="<style>
                    * {
                    padding: 0;
                    margin: 0;
                    overflow: hidden;
                    }
                    
                    body, html {
                      height: 100%;
                    }
                    
                    img, svg {
                      position: absolute;
                      width: 100%;
                      top: 0;
                      bottom: 0;
                      margin: auto;
                    }
                    
                    svg {
                      filter: drop-shadow(1px 1px 10px hsl(206.5, 70.7%, 8%));
                      transition: all 250ms ease-in-out;
                    }
                    
                    body:hover svg {
                      filter: drop-shadow(1px 1px 10px hsl(206.5, 0%, 10%));
                      transform: scale(1.2);
                    }
                  </style>
                  <a href='https://www.youtube.com/embed/AjGFFP6c4Eg?autoplay=1'>
                    <img src='https://img.youtube.com/vi/AjGFFP6c4Eg/hqdefault.jpg' alt='Coffee Recipe Javascript Project'>
                    <svg xmlns='http://www.w3.org/2000/svg' width='64' height='64' viewBox='0 0 24 24' fill='none' stroke='#ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-play-circle'><circle cx='12' cy='12' r='10'></circle><polygon points='10 8 16 12 10 16 10 8'></polygon></svg>
                  </a>
                  " width="560" height="315" src="https://www.youtube.com/embed/AjGFFP6c4Eg" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-sm-12 col-md-5 v-container my-3">
            <div class="iframe-container">
                <iframe loading="lazy" srcdoc="<style>
                    * {
                    padding: 0;
                    margin: 0;
                    overflow: hidden;
                    }
                    
                    body, html {
                      height: 100%;
                    }
                    
                    img, svg {
                      position: absolute;
                      width: 100%;
                      top: 0;
                      bottom: 0;
                      margin: auto;
                    }
                    
                    svg {
                      filter: drop-shadow(1px 1px 10px hsl(206.5, 70.7%, 8%));
                      transition: all 250ms ease-in-out;
                    }
                    
                    body:hover svg {
                      filter: drop-shadow(1px 1px 10px hsl(206.5, 0%, 10%));
                      transform: scale(1.2);
                    }
                  </style>
                  <a href='https://www.youtube.com/embed/rjsNNcsUNzE?autoplay=1'>
                    <img src='https://img.youtube.com/vi/rjsNNcsUNzE/hqdefault.jpg' alt='Coffee Recipe Javascript Project'>
                    <svg xmlns='http://www.w3.org/2000/svg' width='64' height='64' viewBox='0 0 24 24' fill='none' stroke='#ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-play-circle'><circle cx='12' cy='12' r='10'></circle><polygon points='10 8 16 12 10 16 10 8'></polygon></svg>
                  </a>
                  " width="560" height="315" src="https://www.youtube.com/watch?v=rjsNNcsUNzE" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>

        <div class="col-sm-12 col-md-5 v-container my-3">
            <div class="iframe-container">
                <iframe srcdoc="<style>
                    * {
                    padding: 0;
                    margin: 0;
                    overflow: hidden;
                    }
                    
                    body, html {
                      height: 100%;
                    }
                    
                    img, svg {
                      position: absolute;
                      width: 100%;
                      top: 0;
                      bottom: 0;
                      margin: auto;
                    }
                    
                    svg {
                      filter: drop-shadow(1px 1px 10px hsl(206.5, 70.7%, 8%));
                      transition: all 250ms ease-in-out;
                    }
                    
                    body:hover svg {
                      filter: drop-shadow(1px 1px 10px hsl(206.5, 0%, 10%));
                      transform: scale(1.2);
                    }
                  </style>
                  <a href='https://www.youtube.com/embed/VlTH_Bvca1k?autoplay=1'>
                    <img src='https://img.youtube.com/vi/VlTH_Bvca1k/hqdefault.jpg' alt='Coffee Recipe Javascript Project'>
                    <svg xmlns='http://www.w3.org/2000/svg' width='64' height='64' viewBox='0 0 24 24' fill='none' stroke='#ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-play-circle'><circle cx='12' cy='12' r='10'></circle><polygon points='10 8 16 12 10 16 10 8'></polygon></svg>
                  </a>
                  " loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/VlTH_Bvca1k"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-sm-12 col-md-5 v-container my-3">
            <div class="iframe-container">
                <iframe srcdoc="<style>
                    * {
                    padding: 0;
                    margin: 0;
                    overflow: hidden;
                    }
                    
                    body, html {
                      height: 100%;
                    }
                    
                    img, svg {
                      position: absolute;
                      width: 100%;
                      top: 0;
                      bottom: 0;
                      margin: auto;
                    }
                    
                    svg {
                      filter: drop-shadow(1px 1px 10px hsl(206.5, 70.7%, 8%));
                      transition: all 250ms ease-in-out;
                    }
                    
                    body:hover svg {
                      filter: drop-shadow(1px 1px 10px hsl(206.5, 0%, 10%));
                      transform: scale(1.2);
                    }
                  </style>
                  <a href='https://www.youtube.com/embed/wN4Rbc6HSPY?autoplay=1'>
                    <img src='https://img.youtube.com/vi/wN4Rbc6HSPY/hqdefault.jpg' alt='Coffee Recipe Javascript Project'>
                    <svg xmlns='http://www.w3.org/2000/svg' width='64' height='64' viewBox='0 0 24 24' fill='none' stroke='#ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-play-circle'><circle cx='12' cy='12' r='10'></circle><polygon points='10 8 16 12 10 16 10 8'></polygon></svg>
                  </a>
                  " loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/wN4Rbc6HSPY"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>

        <div class="col-sm-12 col-md-5 v-container my-3">
            <div class="iframe-container">
                <iframe loading="lazy" srcdoc="<style>
                    * {
                    padding: 0;
                    margin: 0;
                    overflow: hidden;
                    }
                    
                    body, html {
                      height: 100%;
                    }
                    
                    img, svg {
                      position: absolute;
                      width: 100%;
                      top: 0;
                      bottom: 0;
                      margin: auto;
                    }
                    
                    svg {
                      filter: drop-shadow(1px 1px 10px hsl(206.5, 70.7%, 8%));
                      transition: all 250ms ease-in-out;
                    }
                    
                    body:hover svg {
                      filter: drop-shadow(1px 1px 10px hsl(206.5, 0%, 10%));
                      transform: scale(1.2);
                    }
                  </style>
                  <a href='https://www.youtube.com/embed/j2HY4G63qaE?start=36?autoplay=1'>
                    <img src='https://img.youtube.com/vi/j2HY4G63qaE/hqdefault.jpg' alt='Coffee Recipe Javascript Project'>
                    <svg xmlns='http://www.w3.org/2000/svg' width='64' height='64' viewBox='0 0 24 24' fill='none' stroke='#ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-play-circle'><circle cx='12' cy='12' r='10'></circle><polygon points='10 8 16 12 10 16 10 8'></polygon></svg>
                  </a>
                  " width="560" height="315" src="https://www.youtube.com/embed/j2HY4G63qaE?start=36" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-sm-12 col-md-5 v-container my-3">
            <div class="iframe-container">
                <iframe srcdoc="<style>
                    * {
                    padding: 0;
                    margin: 0;
                    overflow: hidden;
                    }
                    
                    body, html {
                      height: 100%;
                    }
                    
                    img, svg {
                      position: absolute;
                      width: 100%;
                      top: 0;
                      bottom: 0;
                      margin: auto;
                    }
                    
                    svg {
                      filter: drop-shadow(1px 1px 10px hsl(206.5, 70.7%, 8%));
                      transition: all 250ms ease-in-out;
                    }
                    
                    body:hover svg {
                      filter: drop-shadow(1px 1px 10px hsl(206.5, 0%, 10%));
                      transform: scale(1.2);
                    }
                  </style>
                  <a href='https://www.youtube.com/embed/KLJA-srM_yM?start=104?autoplay=1'>
                    <img src='https://img.youtube.com/vi/KLJA-srM_yM/hqdefault.jpg' alt='Coffee Recipe Javascript Project'>
                    <svg xmlns='http://www.w3.org/2000/svg' width='64' height='64' viewBox='0 0 24 24' fill='none' stroke='#ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-play-circle'><circle cx='12' cy='12' r='10'></circle><polygon points='10 8 16 12 10 16 10 8'></polygon></svg>
                  </a>
                  " loading="lazy" width="560" height="315" loading="lazy"
                    src="https://www.youtube.com/embed/KLJA-srM_yM?start=104" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>

    </div>
</div>